@font-face {
    font-family: "OpenSans";
    src: url(font/OpenSans-Light.ttf);
}

html {
    font-size: 16px;
  }
@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;

    font-family: "OpenSans";
    font-size: 1.5rem;
}

.sidebar {
    flex-grow: 1;
    flex-basis: 400px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    margin: 0px;

    background-image: url("img/Background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
}

img {
    height: 3em;
    margin: 20px 50px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;

    margin-top: 20vh;
}

.credits {
    margin-top: auto;
    margin-bottom: 10px;

    font-size: 0.75rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.credits a {
    color: rgba(255, 255, 255, 0.7);
}

.main-form {
    flex-grow: 2;
    flex-basis:400px;
    min-height: 100vh;

    margin: 0px;
    
}

form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

form header, form footer {
    flex: 3;
    background-color: #b7c4cc;
    padding: 20px;
    padding-bottom: 40px;
}

form header {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.form-section {
    flex: 4;
    box-sizing: border-box;
    padding: 20px;

    background-color: #cfd8dd;
}

div ul {
    display:flex;
    flex-wrap: wrap;
    padding: 0px;
    
}

div li {
    flex: 40%;
    display: flex;
    flex-direction: column;

    margin: 10px;
    

}

li label{
    font-size: 0.75rem;
}

.submit {
    padding: 10px;
}

.submit button {
    width: 100%;
    font-size: 1.25rem;
    font-family: "OpenSans";
    padding: 10px 0px;
}
